@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --color: rgba(225, 225, 225, 0.781);
    --colorneg: rgb(0, 0, 0);
}
.navigation{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: var(--color);
    height: 100px;
    display: flex;
    align-content: center;
}
.logo{
    justify-content: center;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.logo img{
    height: 50%;
    margin-right: 1em;
}
.links{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
    justify-items: center;
    padding: 0;
}
.link__element{
    font: 300 1em 'Poppins', sans-serif;
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    font-size: 1.3em;
    transition: .2s;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
        box-sizing: border-box;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }
    &:hover {
        color: #ffffff;
        &:before {
        transform: scaleY(1);
        opacity: 1;
        }
        &:after {
        transform: scaleY(1);
        opacity: 1;
        }
    }
}
/*Dark Mode*/
body.dark {
    background: #000000;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox__label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
.checkbox__label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox__label .ball {
    transform: translateX(24px);
}
.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}  
/*Banner*/
.banner{
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
}
.banner input{
    display: none;
    visibility: hidden;
}
.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
        bottom: 50px;
        gap: 10px;
}
.buttons label{
    width: 20px;
    height: 20px;
    background-color: rgb(17, 0, 255);
    opacity: 0.5;
    cursor: pointer;
    z-index: 100;
    transition: 200ms ease-in-out;
}
.buttons label:hover{
    scale: 1.2;
    opacity: 1;
}
.banner input:nth-child(1):checked ~ .buttons label:nth-child(1),
.banner input:nth-child(2):checked ~ .buttons label:nth-child(2),
.banner input:nth-child(3):checked ~ .buttons label:nth-child(3),
.banner input:nth-child(4):checked ~ .buttons label:nth-child(4){
    opacity: 1;
    scroll-margin: 2;
    width: 40px;
}
.sliders{
    height: 100%;
    position: relative;
    width: 400%;
    display: flex;
    transition: 400ms ease-in-out;
    overflow: hidden;
}
.sliders > div{
    background-repeat: no-repeat;
    background-size: cover;
}
.firstSlide, .secondSlide, .thirdSlide,.fourthSlide{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
}
.sliders::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(164, 201, 201, 0.575);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.firstSlide{
    background-image: url(../img/information_background.jpg)
}
.secondSlide{
    background-image: url(../img/information_background.jpg);
}
.thirdSlide{
    background-image: url(../img/information_background.jpg);
}
.fourthSlide{
    background-image: url(../img/information_background.jpg);
}
.banner input:nth-child(1):checked ~ .sliders{
    left: 0;
}
.banner input:nth-child(2):checked ~ .sliders{
    left: -100%;
}
.banner input:nth-child(3):checked ~ .sliders{
    left: -200%;
}
.banner input:nth-child(4):checked ~ .sliders{
    left: -300%;
}
#map {
	height: calc(100vh - 100px);
	width: 100%;
}
/*Information cards*/
.information{
    background-color: rgba(255, 20, 20, 0.7);
    background-image: url("../img/information_background.jpg");
    height: auto;
    width: 100%;
    background-size: cover;
}
.information__content h2{
    font-size: 2em;
    font-family: 'poppins', sans-serif;
    width: 90%;
    margin: 0 auto;
    border-bottom: 5px double var(--color);
    padding-top: 1.5em;
}
.information__request{
    width: 90%;
    margin: 1em auto;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    gap: 1em;
}
.information__request::-webkit-scrollbar{
    width: 0;
}
.information__request::-webkit-scrollbar-thumb {
    background-color: rgb(246, 184, 70);
    border-radius: 10px;
}
.information__request button{
    height: 3em;
    color: #000000;
    margin-bottom: .5em;
    padding: 10px;
    font-family: Verdana, sans-serif;
    background-color: #00000000;
    border: 1px solid #000000;
    border-radius: 30px;
    transition: .2s;
}
.information__request button:hover{
    background-color: rgb(255, 162, 0);
    border: none;
}
/*Carta de informacion*/
.corruption__section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    background-color: #c13a2b99;
    min-width: 200px;
    height: 400px;
    width: 350px;
    margin: 3em;
    transition: 300ms;
    border-radius: 20px;
    transition: 300ms;
}
.card__image{
    height: 200px;
    width: 350px;
    background-image: url(../img/card1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(5px -10px 20px #ffffff);
}
.card__text{
    font-family: "poppins", sans-serif;
    position: relative;
    z-index: 30;
    border-radius: 0 0 20px 20px;
    color: #fff;
    background: rgba(48, 88, 117, 0.753);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.card__text h2{
    margin: 0 ;
    padding: 15px;
}
.card__text p{
    padding: 10px;
}
.card__text a {
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    background-color: #000;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
    text-align: center;
}
.card:hover .card__image{
    transform: translateY(20px);
    transition: 300ms;
    filter: none;
    background-image: url(../img/card2.png);
}
.card:hover{
    transform: scale(1.1);
    background: -webkit-radial-gradient(circle, #ffffff 0%, #50f17b65 100%);
    background: radial-gradient(circle, #ffffff 0%, #50f17b5f 100%);
}
/*Information Region*/
.region{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}

.region .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.region .box-region{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.region .box-region .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.region .box-region .box img{
    height: 80px;
}

.region .box-region .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.region .box-region .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.region .box-region .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.region .box-region .box .btn:hover{
    letter-spacing: 1px;
}

.region .box-region .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
.box iframe{
    width: 100%;
    height: auto;
}
.fuentes{
    background-image: linear-gradient(180deg, #f990ff 0, #a974ff 25%, #5353f2 50%, #0033b2 75%, #001979 100%);
}
.fuentes h1{
    padding-top: 3em;
}
svg{
    position: absolute;
}
@media (max-width:768px){
    .region{
        padding:20px;
    }
    .logo{
        display: none;
    }
    .link__element{
        font-size: 1em;
    }
}